body{
  margin: 0;
  font-family: sans-serif;
}

.quiz{
  margin: 0 auto;
  width: 200px;
}

.quiz-questions, .quiz-indicator, .quiz-results{
  margin-bottom: 20px;
}

.quiz-questions-item, .quiz-results-item{
  margin-bottom: 20px;
}

.quiz-questions-item__question, .quiz-results-item__question{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.quiz-questions-item__answers, .quiz-results-item__answers{
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-indicator{
  margin-bottom: 20px;
}

.quiz-results{
  display: none;
}

.btn-next{

}
.btn-restart{
  display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden{
  display: none;
}

.results--visible,
.btn-restart--visible{
  display: block;
}

.answer-invalid{
  color: red;
}
.answer-valid{
  color: green;
}
